@using JT7SKU.Lib.Twitch;
<div class="subscriber">
    <h5>@Title</h5>
    <p>@Name</p>
</div>

@functions{
    [Parameter] protected string Title { get; set; }
    [Parameter] protected RenderFragment<Subscriber> Name { get; set; }
    [Parameter] protected RenderFragment<Subscriber> Cumulative { get; set; }
    [Parameter] protected RenderFragment<Subscriber> Streak { get; set; }
}
