@using  StreamKnotifyUnitLibrary;
<div class="dialog-title">
    <h5>@nameof(OverlayKomponent.Name)</h5>
</div>
<form class="dialog-body">
    
</form>
<div class="dialog-buttons">
    <KendoButton OnClick="@OnCancel">Cancel</KendoButton>
    <KendoButton OnClick="@OnSubmit">Submit</KendoButton>
</div>
@functions{

        [Parameter] IList<OverlayKomponentType> komponentTypes { get; set; }
        [Parameter] IList<OverlayKomponent> komponents { get; set; }
        [Parameter] Action OnSubmit { get; set; }
    [Parameter] Action OnCancel { get; set; }
    // Sets components so each component have they specific type
    protected async void SOnParametersSetAsync()
    {
        // this configure Components(Komponents on this context) to Overlay and all components have location(pos(x,y,z)) space 
    }
}
