<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">StreamKnotifyUnit</a>
    <button class="navbar-toggler" onclick="@ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" onclick="@ToggleNavMenu">
    <img src="~/img/StreamKnotifyUnit.png" class="logo" />
        
            <NavLink class="nav-tab" href="" Match="NavLinkMatch.All">
                <img src="~/img/LightIcon.png" />
                <div>Knotify Cards</div>
            </NavLink>
        
            <NavLink class="nav-tab" href="mykomponents">
                <img src="~/img/InfoIcon.png" />
                <div>MyKomponents</div> 
            </NavLink>
       
            <NavLink class="nav-tab" href="myoverlay" >
                <img src="~/img/OverlayIcon.png" />
                <div>MyOverlay</div> 
            </NavLink>
        
        
    
</div>

@functions {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
