@using StreamKomponentUnit.WebbingR.Knotify
@implements IDisposable
@implements IKnotifyKard
<div class="knotify-info">
    <a onclick="@Activate">
        <img src="@ImageUrl" />
        <p>
            <h5 class="@TitleCssClass">@Title</h5>
        </p>
    </a>
    @if (Show)
    {

    }
</div>
@functions{
    [CascadingParameter]
    private _KnotifyKardDeck ContainerKnotifyKardDeck { get; set; }

    [Parameter]
    private string Title { get; set; }
    [Parameter]private string ImageUrl { get; set; }
    [Parameter] public RenderFragment ChildContent { get; private set; }
    private string TitleCssClass = ContainerKnotifyKardDeck.ActiveKard == this ? "active" : null;
    [Parameter] private bool Show { get; set; }

    protected override void OnInit()
    {
        ContainerKnotifyKardDeck.AddKard(this);
    }
    public void Dispose()
    {
        ContainerKnotifyKardDeck.RemoveKard(this);
    }
    private void Activate()
    {
        ContainerKnotifyKardDeck.SetActiveKard(this);
    }
}