@page "/"

<h1>Hello, JT7 SKU Community!</h1>
<div class="main">
    <ul class="knotify-cards">

    </ul>
</div>

<div class="sidebar">

</div>


@functions {
    

    protected override async Task OnInitAsync()
    {
        await LoadData();
        
    }

    private async Task LoadData()
    {
        
    }
}