@page "/mykomponents"
<div class="main">

</div>
<div class="sidebar">
    <ul class="list-group" title="Working Progress">
        
    </ul>
    <ul class="list-group" title="Completed">
        
    </ul>
</div>
@functions{

}
