@using JT7SKU.Lib.Twitch;
<div class="follower">
        <KendoGridColumn Field="@nameof(Follower.TimeStamp)" Title="Time" />
        <KendoGridColumn Field="@nameof(Follower.User)" Title="Username" />
        <KendoGridColumn Field="@nameof(Follower.Follow)" Title="Follow" />
</div>

@functions{
    [Parameter] Follower Follower { get; set; }
    async Task OnParametersSetAsync()
    {
        
    }
}
